<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>FoodCart</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-4 px-lg-5">
                <!--<a class="navbar-brand" href="#!">Start Bootstrap</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/foodCart}">Foods</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/foodCart/add}">Add Food</a></li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-light" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill" th:text="${sumOfFoods}">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <!-- Section-->
        <section class="pb-5">
            <div class="container px-4 px-lg-5 mt-4">
                <form th:action="@{/foodCart}" method="get">
                    <div class="row">
                        <div class="col-3">
                            <input type="text" class="form-control" id="nameFilter" name="nameFilter" th:value="${param.nameFilter}" placeholder="Filter by name"/>
                        </div>
                        <div class="col-2">
                            <select multiple class="form-control" id="typeFilter" name="typeFilter">
                                <option th:each="foodType: ${T(hu.acsaif.foodcart.entity.FoodType).values()}"
                                        th:value="${foodType}" th:text="${foodType.getDisplayValue()}"
                                        th:selected="${#lists.contains(param.typeFilter,foodType.name())}"
                                        th:unless="${#lists.isEmpty(param.typeFilter)}"></option>
                                <option th:each="foodType: ${T(hu.acsaif.foodcart.entity.FoodType).values()}"
                                        th:value="${foodType}" th:text="${foodType.getDisplayValue()}"
                                        th:if="${#lists.isEmpty(param.typeFilter)}"></option>
                            </select>
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="priceFrom" name="priceFrom" th:value="${param.priceFrom}" placeholder="Price from"/>
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="priceTo" name="priceTo" th:value="${param.priceTo}" placeholder="Price to"/>
                        </div>
                        <div class="col-2">
                            Sort by
                            <select class="form-control" id="sortBy" name="sortBy">
                                <option th:each="sortBy: ${T(hu.acsaif.foodcart.entity.FoodSort).values()}"
                                        th:value="${sortBy}" th:text="${sortBy.getDisplayValue()}"
                                        th:selected="${#lists.contains(param.sortBy,sortBy.name())}"
                                        th:unless="${#lists.isEmpty(param.sortBy)}">
                                </option><option th:each="sortBy: ${T(hu.acsaif.foodcart.entity.FoodSort).values()}"
                                        th:value="${sortBy}" th:text="${sortBy.getDisplayValue()}"
                                        th:if="${#lists.isEmpty(param.sortBy)}"></option>
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-dark">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container px-4 px-lg-5 mt-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="food: ${foodCart}">
                            <td th:text="${food.getId()}"></td>
                            <td th:text="${food.getFoodName()}"></td>
                            <td th:text="${food.getFoodType().getDisplayValue()}"></td>
                            <td th:text="${food.getFoodPrice()}"></td>
                            <td class="text-center">
                                <a th:href="@{/foodCart/update(foodId=${food.getId()})}">Update</a>
                                |
                                <a th:href="@{/foodCart/delete(foodId=${food.getId()})}">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
